#remove html file extension https://fajardc.my.id/project.html
# to https://fajardc.my.id/project
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
